.app {
  text-align: center;
  background-image: url("https://ak.picdn.net/shutterstock/videos/7542676/thumb/1.jpg");
  height: auto;
  width: auto;

}
.app{
  text-align: center;
  
  
}
.btn{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
     width: 100px; 
}
.listM{
  display: inline-block;
  margin: 30px 5px;

}
.Movie{
  margin: 0px 10px;
  
  
}
.Movie:hover{
  transform: scale(1.02);
  transition: all 0.4s;
}
.mybtn{
  height: 90px;
}
.btn-star{
     margin: 0 44%;
     width: 30%; 
     text-align: center;
}
.star{
 text-align: center;
}
h1{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.mb-3{
  margin: 20px 10px;
  width: 300px;
  
}
#cardimg{
  height: 400px;
  width: 285px;
  border-radius: 10px;
  
  
}

.card{
 display: flex;

}
#btnAdd{
  width: 200px;
  margin-left: 30px;
}
#navMo{
background-image: url("https://comps.canstockphoto.com/cinema-and-movie-night-black-background-drawing_csp53564896.jpg");}


#retour{
  text-decoration: none;

}
#btn-retour{
  margin: 15px;
  width: 100px;

}

.titles{
  text-align: center;
}
.titles p{
  font-size: 50px;
  font-family: Verdana;
}


